@import url('./__list/photo-grid__list.css');
@import url('./__item/photo-grid__item.css');
@import url('./__item-img/photo-grid__item-img.css');

.photo-grid {
  padding: 46px 48px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 44px 24px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    padding: 32px 16px;
  }
}

