.intro__list {
  max-width: 690px;
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    max-width: 288px;
  }
}