.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.12;
  display: block;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
  }
}