.footer__nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  min-width: 465px;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 580px) {
  .footer__nav {
    flex-direction: column;
    min-width: 186px;
    align-content: space-between;
    /* min-height: 248px; */
    margin-bottom: 48px;
  }
}
