.place__website {
  max-width: 456px;
  margin: 106px 0 48px;
}

@media screen and (max-width: 768px) {
  .place__website {
    margin: 46px 0 48px;
  }
}


@media screen and (max-width: 320px) {
  .place__website {
    display: none;
  }
}